p {
    margin: 0;
}

p.bold {
    font-weight: bold;
}

p.pre {
    font-family: monospace;
    font-size: large;
}

.accounts-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    /* outside edges */
    margin: 24px;
    /* between elements of the list */
    gap: 24px;
}

.account { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}